In [1]:
#N:B: We renamed dataset for our convinience
#For reproducing the result data can be downloaded from the source itself

In [ ]:
import pandas as pd

#### Getting most recent data from world bank

- Population, GDP, Land Area data for different countries
- This datasets contains data from 1960
- Read from csv, converting into dataframe and select the recent data

Population data is collected from [https://data.worldbank.org/indicator/SP.POP.TOTL] site

In [2]:
population = pd.read_csv("population.csv")
population_df = pd.DataFrame(population)
#print(population_df.columns)
population_df = population_df[["Country Name", "2019"]]
population_df = population_df.rename(columns={"2019":"population"})
population_df.head(5)

  Country Name  population
0        Aruba    106314.0
1  Afghanistan  38041754.0
2       Angola  31825295.0
3      Albania   2854191.0
4      Andorra     77142.0

Gdp Data is collected from [https://data.worldbank.org/indicator/NY.GDP.MKTP.CD] site

In [3]:
gdp = pd.read_csv("gdp.csv")
gdp_df = pd.DataFrame(gdp)
gdp_df = gdp_df[["Country Name", "2019"]]
gdp_df = gdp_df.rename(columns={"2019":"gdp"})

gdp_df.head(5)

  Country Name           gdp
0        Aruba           NaN
1  Afghanistan  1.929110e+10
2       Angola  8.881570e+10
3      Albania  1.527918e+10
4      Andorra  3.154058e+09

Total land area in sq. meter Data is collected from [https://data.worldbank.org/indicator/AG.LND.TOTL.K2] site

In [4]:
land_area = pd.read_csv("land_area.csv")
land_area_df = pd.DataFrame(land_area)
land_area_df = land_area_df[["Country Name", "2018"]]
land_area_df = land_area_df.rename(columns={"2018":"land_area"})
land_area_df.head(5)

  Country Name  land_area
0        Aruba      180.0
1  Afghanistan   652860.0
2       Angola  1246700.0
3      Albania    27400.0
4      Andorra      470.0

### Merging data based on the country name (inner join)
##### and create a new dataset of 4 columns (country name, gdp, land_area and population)

In [5]:
country_data = gdp_df.merge(land_area_df, on='Country Name').merge(population_df, on="Country Name")

In [6]:
country_data.head()

  Country Name           gdp  land_area  population
0        Aruba           NaN      180.0    106314.0
1  Afghanistan  1.929110e+10   652860.0  38041754.0
2       Angola  8.881570e+10  1246700.0  31825295.0
3      Albania  1.527918e+10    27400.0   2854191.0
4      Andorra  3.154058e+09      470.0     77142.0

In [7]:
print(country_data.shape)
country_data["Country Name"].nunique()
#this datset has 264 unique country_name

(264, 4)

264

### Covid-Time Financial Policy response data
#### The data is from wolrd bank [https://datacatalog.worldbank.org/dataset/covid-19-finance-sector-related-policy-responses]
#### We can join them by region or by date
#### we can track the policy change due to covid
#### There s also a option for NLP at Details of the measure column

In [8]:
finance = pd.read_excel("covid-fci-data.xlsx")
finance_df = pd.DataFrame(finance)
finance_df.head()

,ID,Country Name,Country ISO3,Income Level,Authority,Date,Level 1 policy measures,Level 2 policy measures,Level 3 policy measures,Details of the measure,Reference,Termination Date,Modification of Parent Measure,Parent Measure
0,1,China,CHN,Upper middle income,SUP,2020-02-01,Banking sector,Operational continuity ...,Blank ...,Require banks and insurance companies to ensur...,http://www.gov.cn/zhengce/zhengceku/2020-02/03...,NaT,No,NaN
1,2,Canada,CAN,High income,CB,2020-03-13,Liquidity/funding,Liquidity (incl FX)/ELA ...,Blank ...,BoC also created a Bankers Acceptance Purchase...,https://www.bankofcanada.ca/markets/market-ope...,2020-10-31,No,NaN
2,3,China,CHN,Upper middle income,CB,2020-02-05,Banking sector,Integrity ...,Other integrity ...,The PBC has issued Notices on AML/CFT requirem...,...,NaT,No,NaN
3,4,Thailand,THA,Upper middle income,CB,2020-02-05,Liquidity/funding,Policy rate ...,Blank ...,BOT cut its benchmark interest rate by 25 basi...,https://www.bot.or.th/English/PressandSpeeches...,NaT,No,NaN
4,5,Russian Federation,RUS,Upper middle income,CB,2020-02-07,Liquidity/funding,Policy rate ...,Blank ...,Policy rates were reduced by 25 basis points t...,https://www.cnbc.com/2020/02/07/reuters-americ...,NaT,No,NaN

#### Now lets join Finance Dataframe with coutry_Data based on country name
###### As all the data from World Name coutnry name should be consistent interms of spelling

In [9]:
country_df_final = country_data.merge(finance_df, on="Country Name")

In [10]:
country_df_final.head()

Empty DataFrame
Columns: [Country Name, gdp, land_area, population, ID, Country ISO3, Income Level, Authority, Date, Level 1 policy measures, Level 2 policy measures, Level 3 policy measures, Details of the measure, Reference, Termination Date, Modification of Parent Measure, Parent Measure]
Index: []

#### we found data is not merged, and further inspection found that in finace data country name it has extra space,
#### we have to remove the space from the country name string

In [11]:
#### custom funciton for removing the space
def remove_space(x):
      return x.replace(" ", "")

In [12]:
finance_df["Country Name"] = finance_df["Country Name"].apply(remove_space)

In [13]:
country_df_final = country_data.merge(finance_df, on="Country Name") 
country_df_final.head()

,Country Name,gdp,land_area,population,ID,Country ISO3,Income Level,Authority,Date,Level 1 policy measures,Level 2 policy measures,Level 3 policy measures,Details of the measure,Reference,Termination Date,Modification of Parent Measure,Parent Measure
0,Afghanistan,1.929110e+10,652860.0,38041754.0,1480,AFG,Low income,CB,2020-04-09,Banking sector,Prudential ...,Prioritize or review critical supervisory acti...,Suspension of on-site examinations Until June ...,...,2020-06-30,No,NaN
1,Afghanistan,1.929110e+10,652860.0,38041754.0,1482,AFG,Low income,CB,2020-04-09,Liquidity/funding,Liquidity (incl FX)/ELA ...,Blank ...,"Liquidity contingency plan in effect by DAB, i...",...,NaT,No,NaN
2,Afghanistan,1.929110e+10,652860.0,38041754.0,1483,AFG,Low income,CB,2020-04-09,Banking sector,Prudential ...,"Relaxation in NPE treatment (definition, class...",Flexibility in application of supervision rule...,...,2020-06-30,No,NaN
3,Afghanistan,1.929110e+10,652860.0,38041754.0,1484,AFG,Low income,CB,2020-04-09,Banking sector,Prudential ...,"Relaxation in NPE treatment (definition, class...",Relaxation of provisioning requirements for lo...,...,NaT,No,NaN
4,Afghanistan,1.929110e+10,652860.0,38041754.0,1485,AFG,Low income,CB,2020-04-09,Banking sector,Prudential ...,Other prudential flexibility ...,IFRS 9 implementation date has been extended t...,...,NaT,No,NaN

In [15]:
country_df_final.to_csv("country_data.csv")